/* .note-dashboard {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.left-panel {
    width: 40%;
}

.right-panel {
    flex-grow: 1;
    border-left: 1px solid #ccc;
    padding-left: 2rem;
} */