/* .note-view {
    background: #f9f9f9;
    padding: 1rem;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot-menu span {
    cursor: pointer;
    font-size: 1.5rem;
} */